apiVersion: apps/v1
kind: Deployment
metadata:
  name: customers-service
  namespace: petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customers-service
  template:
    metadata:
      labels:
        app: customers-service
    spec:
      containers:
      - name: customers-service
        image: athul9thd/spring-petclinic-customers-service:4.0.1
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: kubernetes
        - name: SERVER_PORT
          value: "8081"
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8081
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8081
