apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: petclinic
spec:
  type: ClusterIP
  selector:
    app: discovery-server
  ports:
    - name: http
      port: 8761
      targetPort: 8761
