apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-server
  namespace: petclinic
  labels:
    app: admin-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-server
  template:
    metadata:
      labels:
        app: admin-server
    spec:
      containers:
        - name: admin-server
          image: athul9thd/spring-petclinic-admin-server:4.0.1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: petclinic-configmap
