apiVersion: v1
kind: Service
metadata:
  name: admin-server
  namespace: petclinic
spec:
  type: ClusterIP
  selector:
    app: admin-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080
